@import '../abstracts/variables';
.modal-own{
    width: 100%;
    height: 90%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49,49,49,0.8);
    z-index: 1111111111111;
}
.modal-own-inner{
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 0px;
    height: 250px;
    z-index: 99999999;
    .modal-own-content{
        margin: 20px auto 0;
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        #x{
            font-size: 30px;
        }
        h2{
            margin-top: 25px;
        }

        .search{
            margin-top: 20px;
            border: 1px solid rgba(128, 128, 128, 0.367);
            height: 40px;
            border-radius: 20px;

            
            input{
                width: 90%;
                height: 39px;
                border: none;
                outline: none;
                background-color: transparent;
            }
            #search-icon{
                font-size: 20px;
            }
        }
        
    }
}