@import '../abstracts/variables';

#header {
    z-index: 11111111111111;
    background-color: var(--background-color);
}

.showModal {
    display: block;
}

.hiddenModal {
    display: none;
}

#top-header {


    padding: 15px 0;
    background-color: var(--background-color);

    #bar {
        display: none;
    }

    .ham-menu {
        width: 50px;
        height: 45px;
        border-radius: 100px;
        padding: 10px 10px;
        background-color: var(--back);
        text-align: center;
        i{
            color: var(--text-color);
        }


    }


    .logo {
        img {
            width: 42%;
        }
    }

    .nav {

        a {
            color: var(--navigation-color);
            font-size: 12px;
            font-weight: 400;

        }
    }


    .type {


        .active {
            border: 1px solid $orange;
            color: $orange ;
            padding: 6px 20px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 600;
            background-color: var(--back);
            outline: 0;
            box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);

        }


        .nonactive {
            outline: 0;
            background-color: var(--back);
            color: var(--navigation-color);
            border-radius: 5px;
            font-size: 12px;
            font-weight: 400;
            border: none;
            padding: 6px 20px;
            box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);
        }
    }

    .lang {
        a {
            font-weight: 600;
            font-size: 12px;
            box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-transform: uppercase;
            color: var(--navigation-color);
            padding: 6px 12px;
            font-weight: 600;
            font-size: 12px;
            border-radius: 5px;
            background-color: var(--back);

        }
    }

    .theme {
        a {
            padding: 4px 10px;
            display: inline-block;
            border-radius: 5px;
            box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);
            background-color: #323232;
            margin-right: 10px;

            i {
                color: #fff;
                font-size: 14px;
            }
        }
    }

    .search {
        a {
            cursor: pointer;
            box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);
            width: 35px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            background: var(--back);
            border-radius: 5px;

            i {
                color: var(--navigation-color);
                font-size: 12px;
            }
        }
    }
}

#bottom-header {
    padding: 25px 0;

    nav {
        p {
            a {
                font-size: 18px;
                color: var(--navigation-color);
                text-decoration: none;
                font-weight: 700;
            }
        }
    }

    .botom-right {
        i {
            color: $orange;
            font-size: 18px;
        }

        span {
            color: #000;
            font-weight: bold;
            font-size: 14px;
        }

        .cart-count {
            position: absolute;
            top: -7px;
            right: -7px;
            background-color: $orange;
            padding: 1px 8px;
            border-radius: 50px;
            font-size: 11px;
            box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);

        }

        .basket {
            position: relative;
            padding: 8px 15px;
            border: 1px solid rgba(0, 0, 0, .1);
            border-radius: 15px;
            background-color: var(--back);
        }

        .contact,
        .internet {
            height: 45px;
            border: 1px solid rgba(0, 0, 0, .1);
            line-height: 20px;
            padding: 8px 15px;
            font-size: 14px;
            border-radius: 25px;
            background-color: var(--back);
            span{
                color: var(--text-color);
            }

        }
    }
}

#side-bar {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    gap: 15px;
    left: 0px;
    top: 65px;
    width: 100%;
    padding: 15px 0;

       .basket {
            position: relative;
            padding: 8px 10px;
            border: 1px solid rgba(0, 0, 0, .1);
            border-radius: 15px;
            background-color: var(--back);
            i{
                color: $orange;
            }
            span{
                position: absolute;
                background-color: $orange;
                top: -6px;
                right: -25px;
                width: 20px;
                height: 20px;
                text-align: center;
                border-radius: 50%;
            }
           
            
            
            
        }



    .type {


        .active {
            border: 1px solid $orange;
            color: $orange ;
            padding: 6px 20px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 600;
            background-color: var(--back);
            outline: 0;
            box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);

        }


        .nonactive {
            outline: 0;
            background-color: var(--back);
            color: var(--navigation-color);
            font-size: 12px;
            font-weight: 400;
            padding: 6px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);
        }
    }

    .lang-drop {

        a {
            font-weight: 600;
            font-size: 12px;
            box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-transform: uppercase;
            color: var(--navigation-color);
            padding: 8px 12px;
            font-weight: 600;
            font-size: 12px;
            border-radius: 5px;
            background-color: var(--back);

        }
    }

    .theme-drop {
        a {
            padding: 4px 10px;
            display: inline-block;
            border-radius: 5px;
            box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);
            background-color: #323232;
            margin-right: 10px;

            i {
                color: #fff;
                font-size: 14px;
            }
        }
    }

    .search-drop {


        a {
            cursor: pointer;
            box-shadow: 0 2px 14px -8px rgba(0, 0, 0, .3);
            width: 35px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            background: var(--back);
            border-radius: 5px;


            i {
                color: var(--navigation-color);
                font-size: 12px;
            }
        }
    }

    .nav-drop {
        p {
            a {
                font-size: 18px;
                color: var(--text-color);
                text-decoration: none;
                font-weight: 700;
            }
        }
    }

    .nav-2-drop {

        a {
            color: var(--text-color);
            font-size: 12px;
            font-weight: 400;
            opacity: .5;

        }
    }

}

@media (max-width:576px) {





    #top-header {
        background-color: var(--background-color);
        position: relative;



        .top-header-right {
            display: none;
        }

        .media-phone {
            display: inline-block !important;

            i {
                color: $orange;
                font-size: 18px;
            }


            .contact {
                width: 85px;
                height: 45px;
                border: 1px solid rgba(0, 0, 0, .1);
                line-height: 20px;
                padding: 8px 15px;
                font-size: 14px;
                border-radius: 25px;
                color: #000;
            }
        }



    }

    .box {
        display: flex !important;
        align-items: center !important;
        justify-content: space-around;

        .nav {
            display: none !important;
        }

        .logo {
            img {
                width: 60% !important;
            }
        }
    }

    .top-box {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between;
    }

    .media-header {
        display: none !important;

    }

    #bottom-header {
        display: none !important;
    }

    #bar {
        display: inline-block !important;
    }

    #options {
        display: none;



    }

    #media-lang {
        display: none;
    }

    #side-bar {
        z-index: 111 !important;
    }

    .top-header2 {
        display: block !important;

        .top-header2-content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                text-align: center;

                img {
                    width: 35% !important;
                }
            }

            .contact {
                background: var(--back);
                border: none;
                line-height: 45px;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 0 0 0 15px;

                i {
                    color: $orange;
                }

                span {
                    color: var(--text-color);
                    font-weight: bold;
                }
            }
        }



    }

}

@media (min-width :576px) {
    #side-bar {
        display: none !important;
    }
}