@import "../abstracts/extend";


:root {
    --black: #000;
    --white: #fff;
    --greey: #fafafa;
    --black2: #1a1a1a;
    --grey2: red;
    --black3: #313131;
    --black4: #464646;
    --black5: #323232;
}

.body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    font-weight: var(--font-weight) !important;
    background-color: var(--background-card-color) !important;
    border-radius: var(--border-radius) !important;
    background-color: var(--back) !important;
    background-color: var(--back-currency-color);
    color: var(--navigation-color);
    -webkit-filter: var(--webkit-filter) !important;


}

body.light {
    --background-color: var(--white);
    --text-color: var(--black);
    --background-card-color: var(--greey);
    --font-weight: 400;
    --border-radius: var(--greey2);
    --back: var(--white);
    --back-currency-color: var(--white);
    --webkit-filter: invert(0%);
    --navigation-color: var(--black5);



}

body.dark {
    --background-color: var(--black);
    --text-color: var(--white);
    --background-card-color: var(--black2);
    --border-radius: var(--greey2);
    --webkit-filter: invert(100%);
    --back: var(--black3);
    --back-currency-color: var(--black4);
    --navigation-color: var(--white);
    --font-weight: 500;


}

.home-body {
    background-color: var(--background-color);
}


.currency-header {
    line-height: 18px;
    font-family: CocoSharp, Arial;
    font-weight: 700;
    font-size: 18px;
    color: var(--text-color);

}

.update-time {
    display: inline-block;
    line-height: 12px;
    font-size: 12px;
    color: var(--text-color);
    margin-bottom: 30px;
    font-weight: 400;
}


.card {
    padding: 40px 50px;
    text-align: center;
    background: var(--background-card-color);
    border-radius: 10px;
    border: none;
    width: 100%;

    h2 {
        line-height: 18px;
        font-size: 18px;
        color: var(--text-color);
        font-weight: 700;
        text-align: center;
    }

    h1 {
        font-size: 52px;
        line-height: normal;
        color: #FF6400;
        margin-bottom: 20px;
        margin-top: 15px;
        text-align: center;
        font-weight: 600;
    }

    p {
        line-height: 14px;
        font-weight: 400;
        color: var(--text-color);
        margin-top: -20px;
        margin-bottom: 45px;
        font-size: 14px;
        text-align: center;
    }

    a {
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        line-height: 20px;
        background: #FF6400;
        border-radius: 25px;
        font-size: 14px;
        padding: 15px 45px;
        box-shadow: 0 10px 10px -10px rgba(255, 107, 0, .51);
        display: inline-block;
    }
}



.cards {
    .zz {
        padding: 40px 0 25px;
    }
}

.yourCard {



    .yourCard-content {
        height: 420px;
        border-radius: 10px;
        width: 100%;
        margin: 80px 0 60px;
        background-color: var(--background-card-color);
        border-radius: 10px;

        .yourCard-content-img {
            img {
                width: 85%;
                margin-top: -80px;
                margin-left: 20px;
            }
        }

        .yourCard-content-title {
            .yourCard-content-description {
                h1 {
                    font-weight: 800;
                    font-size: 28px;
                    color: #FF6400;
                    margin: 0 0 20px;
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--text-color);
                    line-height: 1.43;
                    margin-bottom: 40px;
                    padding-right: 30px;
                    width: 80%;
                }
            }

            .yourCard-content-btns {
                div {
                    &:nth-child(1) {
                        padding: 16px 25px;
                        font-size: 14px;
                        line-height: 16px;
                        background-color: #FF6400;
                        color: white;
                        border-radius: 25px;
                        text-align: center;

                        a {
                            color: white;
                            font-weight: 500;
                        }
                    }

                    &:nth-child(2) {
                        display: inline-block;
                        padding: 14px 30px;
                        font-size: 14px;
                        border-radius: 25px;
                        font-weight: 600;
                        border: 1px solid;

                        text-align: center;

                        a {
                            color: #969696;
                            font-weight: 500;
                        }
                    }

                    &:nth-child(3) {
                        display: inline-block;
                        padding: 14px 30px;
                        font-size: 14px;
                        border-radius: 25px;
                        font-weight: 600;
                        border: 1px solid;
                        color: var(--border-radius);
                        text-align: center;

                        a {
                            color: #969696;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}






.Ubank {


    .ubank-content {
        background-color: var(--background-card-color);
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
        padding-left: 70px;

        .ubank-title {

            h1 {
                @extend .header-title;
            }

            p {
                @extend .description-title;
            }

            .mobile-market {
                display: flex;
                align-items: center;
                gap: 15px;

                img {
                    width: 30%;
                    -webkit-filter: var(--webkit-filter);
                }
            }

            a {
                @extend .big-link;
                margin-top: 30px;
            }
        }

        .ubank-image {

            position: relative;
            height: 400px;

            img {
                position: absolute;
                width: 100%;
                height: 490px;
                top: -95px;
                right: 0;
            }
        }
    }
}

.Currency {
    padding: 20px 0;

    h1 {
        @extend .header-title;
        padding: 40px 70px;
    }

    .currency-content {
        background-color: var(--background-card-color);
        padding: 1px 0;
        border-radius: 10px;

        .cash {
            padding: 0px 70px 40px;


            .cash-table {
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                    width: 100%;

                    thead {
                        font-size: 14px;
                        color: $thead-color;
                        line-height: 18px;
                        text-align: left;


                        tr {

                            th {

                                border-bottom: 1px solid #D6D9DB;
                                padding-bottom: 21px;
                                width: 33.3333333%;
                                font-size: 12px;
                                font-weight: 400 !important;
                                padding: 10px 0;

                            }
                        }
                    }

                    tbody {
                        line-height: 14px;
                        font-family: CocoSharp, Arial;
                        font-weight: 400;
                        font-size: 14px;
                        color: #000;

                        tr {
                            td {
                                width: 33.3333333%;
                                padding: 14px 0;
                                white-space: nowrap;
                                color: var(--text-color);
                                font-weight: 700;
                            }
                        }
                    }

                }
            }
        }

        .calculator {
            i {
                color: #FF6400;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 150px;
            width: 90%;
            margin-bottom: 40px;
            margin-right: auto;
            margin-left: auto;



            background-color: var(--back) !important;
            box-shadow: 0 10px 25px -10px rgba(0, 0, 0, .1);
            padding: 50px 62px;
            border-radius: 10px;

            .update-time {
                margin-bottom: 0;
            }

            .exchange-currency {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .exchange-to,
                .exchange-from {
                    overflow: hidden;
                    padding: 20px 20px;
                    border-radius: 5px;
                    border: 1px solid;
                    margin-bottom: 10px;
                    width: 280px;
                    display: flex;
                    align-items: center;
                    background-color: var(--back-currency-color);

                    input {
                        border: none;
                        outline: none;
                        background-color: transparent;
                    }

                    select {
                        border: none;
                        outline: none;
                        background-color: transparent;
                        color: var(--text-color);
                    }

                }
            }

        }
    }


}

.Information {

    .news {
        text-align: center;
        margin-top: 15px;

        .all-news {
            @extend .big-link;
            padding: 15px 25px !important;
        }
    }

    .information-content {

        .information-box {
            width: 100%;
            padding: 30px;
            border-radius: 10px;
            transition: .3s;
            background-color: var(--background-card-color);
            height: 270px;

            &:hover {
                background-color: #FF6400;
                cursor: pointer;

                h4 {
                    color: white;
                }

                p {
                    color: white;
                }

                span {
                    color: white;
                }
            }

            h4 {
                font-weight: 700;
                font-size: 16px;
                color: #FF6400;
                text-decoration: none;
                display: block;
                overflow: hidden;
                line-height: normal;
                margin-bottom: 10px;
            }

            p {
                font-weight: 200;
                font-size: 14px;
                color: var(--text-color);
                line-height: 23px;
                overflow: hidden;
                opacity: 0.7;
            }

            span {
                line-height: 12px;
                font-family: CocoSharp, Arial;
                font-weight: 400;
                font-size: 12px;
                color: var(--text-color);
                margin-top: 15px;
            }
        }
    }
}

.ContactUs {

    padding: 30px 0;

    .contactUs-content {
        height: 320px;

        .contactUs-left-con {
            padding: 45px 65px;
            position: relative;
            overflow: hidden;
            background-color: var(--background-card-color);
            border-radius: 10px;
            height: 320px;

            .servis-content {
                h1 {
                    @extend .header-title;
                }

                p {
                    @extend .description-title;
                    width: 100%
                }

                a {
                    @extend .big-link;
                }
            }

            .servis-location {
                img {
                    margin-bottom: -43px;
                }
            }
        }

        .contactUs-right-con {
            position: relative;
            padding: 45px 65px;
            overflow: hidden;
            border-radius: 10px;
            background-color: var(--background-card-color);
            height: 320px;

            img {
                position: absolute;
                top: 0;
                right: 0;
                width: 80%;
            }

            h1 {
                @extend .header-title;
            }

            p {
                @extend .description-title;
            }

            a {
                @extend .big-link
            }


        }
    }
}






@media (max-width:576px) {

    .card {
        width: 100% !important;
        padding: 0 5px !important;
        margin-bottom: 10px !important;
        height: 180px;

        h2 {
            font-size: 14px !important;
            line-height: 18px !important;
            margin-top: 10px;
        }

        h1 {
            font-size: 32px !important;
            margin-top: 10px !important;
        }

        p {
            font-size: 10px !important;
            margin-bottom: 20px !important;
        }

        a {
            padding: 10px 20px !important;
            width: 90px;
            font-size: 12px !important;
            margin: 0 auto;
        }
    }

    .yourCard {

        .yourCard-content {
            margin: 40px 0 60px !important;

            background-color: var(--background-card-color);
            height: 570px !important;
            border-radius: 10px;
            width: 100%;
            margin: 0 auto;

            .yourCard-content-img {
                img {
                    width: 95%;
                    margin-top: -80px;
                    margin-left: 0;
                }
            }

            .yourCard-content-title {
                margin-bottom: 20px;

                .yourCard-content-description {
                    padding: 0 20px;

                    h1 {
                        font-size: 20px !important;
                        line-height: normal !important;
                        margin-bottom: 10px !important;
                        font-weight: 800 !important;
                    }

                    p {
                        margin-bottom: 20px !important;
                        font-size: 12px !important;
                        line-height: normal !important;
                        width: 100% !important;
                    }
                }

                .yourCard-content-btns {
                    div {
                        &:nth-child(1) {
                            padding: 16px 25px;
                            font-size: 14px;
                            line-height: 16px;
                            background-color: #FF6400;
                            color: white;
                            border-radius: 25px;
                            text-align: center;
                            width: 90%;
                        }

                        &:nth-child(2) {
                            display: inline-block;
                            padding: 14px 30px;
                            font-size: 12px !important;
                            border-radius: 25px;
                            font-weight: 600;
                            border: 1px solid var(--navigation-color);
                            color: #fff !important;
                            text-align: center;
                        }

                        &:nth-child(3) {
                            display: inline-block;
                            padding: 14px 30px;
                            font-size: 12px !important;
                            border-radius: 25px;
                            font-weight: 600;
                            border: 1px solid var(--navigation-color);
                            color: #fff !important;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }




    .Ubank {
        width: 100% !important;

        .ubank-content {
            display: flex;
            flex-wrap: wrap;
            width: 100% !important;

            padding: 20px;

            .ubank-title {
                display: flex;
                flex-direction: column;

                h1 {
                    font-size: 20px !important;
                    line-height: normal !important;
                    margin-bottom: 10px !important;
                    font-weight: 800 !important;
                }

                p {
                    margin-top: 20px;
                    margin-bottom: 0 !important;
                    font-size: 12px !important;
                    line-height: normal !important;
                    padding-right: 10px !important;
                    order: 1;

                }

                a {
                    order: 1;
                    display: inline-block !important;
                    width: 48%;
                    text-align: center !important;
                }
            }

            .ubank-image {
                position: relative;
                height: 310px !important;

                img {
                    position: absolute;
                    top: 15px !important;

                    height: auto;
                }
            }
        }

    }

    .Currency {
        h1 {
            font-size: 20px !important;
            line-height: normal !important;
            margin-bottom: 15px !important;
            padding: 20px 35px 0 !important;
        }

        .currency-title {
            display: none !important;

        }

        .media-tab-menu {
            display: block !important;

            .cash {
                padding: 20px 30px !important;

                .cash-table {
                    margin-top: 40px;
                }
            }


        }

        .calculator {
            i {
                display: none;
            }

            display: flex !important;
            flex-direction: column !important;
            height: 290px !important;
            padding: 50px 30px !important;

            .calculator-title {
                margin-right: 80px;

                p {
                    margin-bottom: 7px !important;
                }
            }

            .exchange-currency {
                display: flex !important;
                flex-direction: column !important;
                margin-top: 20px;
            }
        }

        .tab-title-nonactive {

            display: inline-block;
            padding: 10px 20px;
            margin-right: 10px;
            font-family: CocoSharp, Arial;
            font-weight: 700;
            font-size: 12px;
            color: #a1a1a1;
            border-radius: 20px;
            border: 2px solid #a1a1a1;
        }

        .tab-title-active {

            display: inline-block;
            padding: 10px 20px;
            margin-right: 10px;
            font-family: CocoSharp, Arial;
            font-weight: 700;
            font-size: 12px;
            color: #FF6400;
            border-radius: 20px;
            border: 2px solid #FF6400;
            position: relative;

            &::before {

                position: absolute;
                bottom: -4px;
                transform: rotateZ(-45deg) translate(-50%);
                width: 16px;
                height: 16px;
                border-left: 2px solid #FF6400;
                border-bottom: 2px solid #FF6400;
                content: '';
                left: 50%;
                background: #fafafa;

            }
        }

        .currencyMedia {
            display: block !important;

            .currency-tab-menu {
                padding-left: 40px;
            }

            .update-time {
                display: inline-block;
                padding-left: 40px;
                margin-top: 40px;
            }

            .cash {
                padding: 10px 20px 10px 40px;
            }


            .showTab {
                display: block;
            }

            .hideTab {
                display: none;
            }
        }
    }


    .ContactUs {

        padding: 30px 0 20px;

        .contactUs-content {
            height: 450px !important;

            .contactUs-left-con {
                width: 100%;
                margin: 0 auto;
                padding: 20px !important;
                position: relative;
                overflow: hidden;
                background-color: var(--background-card-color);
                border-radius: 10px;
                height: 220px !important;

                .servis-content {
                    h1 {
                        font-size: 20px !important;
                        line-height: 28px !important;
                        margin-bottom: 15px !important;
                    }

                    p {
                        width: 200px !important;
                        font-size: 12px !important;
                        margin-bottom: 15px !important;
                    }

                    a {
                        padding: 13px 35px !important;
                        line-height: normal !important;
                        font-size: 12px !important;
                    }
                }
            }

            .servis-location {
                img {
                    margin-bottom: -43px;
                    width: 170px !important;
                    height: 170px;
                }
            }
        }

        .contactUs-right-con {
            position: relative;
            padding: 20px !important;
            overflow: hidden;
            border-radius: 10px;
            background-color: #fafafa;
            height: 220px !important;

            img {
                position: absolute;
                top: 0;
                right: 0;
                width: 80%;
            }

            h1 {
                font-size: 20px !important;
                line-height: 28px !important;
                margin-bottom: 15px !important;
            }

            p {
                font-size: 12px !important;
                margin-bottom: 15px !important;
            }

            a {
                padding: 13px 35px !important;
                line-height: normal !important;
                font-size: 12px !important;
            }



        }
    }
}