@import '../abstracts/extend';
@import '../abstracts/variables';

.servicenetwork {
    h1{
        @extend .header-title;
    }
    .branches {
        margin-top: 30px;

        .branches-card-box {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 35px 65px;
            transition: .5s;
            border-radius: 10px;
            background-color: $greey ;
            cursor: pointer;
            &:hover{
                background-color: #FF6400;
                h2{
                    color: #fff
                }
                p{
                    color: #fff
                }
                i{
                    color: #fff !important
                }
                span{
                    color: #fff !important
                }

            }

            .branches-left-con {
                h2 {
                    @extend .feature_value;
                    margin-bottom: 0px;
                }

                p {
                    @extend .feature_description;
                    font-size: 15px;
                    font-weight: 400;

                }
            }

            .branches-right-con {
                .branch-clock {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    i {
                        font-size: 35px;
                        color: $orange;
                    }

                    span {
                        @extend .feature_description;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: normal;
                        margin: 0;
                    }
                }

                .branch-info {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    i {
                        font-size: 35px;
                        color: $orange;
                    }

                    span {
                        @extend .feature_description;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: normal;
                        margin: 0;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    .tab-links {
        display: flex;
        align-items: center;

        .noactive {
            @extend .tab-menu-button;
            cursor: pointer;
        }

        .active {
            @extend .tab-active;
            cursor: pointer;
        }

    }

    .warn {
        font-weight: 400;
        line-height: 16px;
        background: #FF6400;
        padding: 20px 65px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 15px;
        img{
            font-size: 10%;
        }
        p{
            font-size: 14px;
            font-weight: 700;
            color: #fff;
        }
    }


    .allbranch {
        margin-top: 50px;

      
    }

    .saturdaybranch{
        margin-top: 50px;
    }


}


@media (max-width:576px){
    .branches-card-box {
     
        padding: 20px 40px !important;      
        
        &:hover{
            background-color: #FF6400;
            h2{
                color: #fff
            }
            p{
                color: #fff
            }
            i{
                color: #fff !important
            }
            span{
                color: #fff !important
            }

        }

        .branches-left-con {
           
            h2{
                font-size: 14px !important;
            }
            p{
                font-size: 12px !important;
            }
          
        }

        .branches-right-con {
            .branch-clock {
                display: flex;
                align-items: center;
                gap: 15px;

                i {
                    font-size: 25px !important;
                    color: $orange;
                }
                span{
                    font-size: 12px !important;
                    font-weight: 400 !important;
                }

            }

            .branch-info {
                display: flex;
                align-items: center;
                gap: 15px;

                i {
                    font-size: 25px !important;
                    color: $orange;
                }
                span{
                    font-size: 12px !important;
                }

                
            }
        }
    }
}